/*=============================================
                 GENERAL STYLES
=============================================*/
:root { /*color palette*/
    --off-black: #343434;
    --clean-blue: #305cd8;
    --seafoam-cyan: #4dc5a4;
    --autumn-navy: #3b4a72;
    --ghost-gray: #0000001a;   /*black w/ very little opacity*/
    --goose-gray: #d0cece;
    --bright-purple: #a045dc;
}

head {
    font-family: 'Open Sans', sans-serif;
    color: var(--off-black);
    font-weight: 300;
    font-size: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--off-black);
    font-weight: 300;
    font-size: 100%;
    background: var(--autumn-navy) url("../images/bg.png") repeat;
}

h1, h2, p {
    font-family: 'Open Sans', sans-serif;
    color: var(--off-black);
}

h1 {
    font-weight: 600;
    font-size: 2.5em;
    line-height: 1;
}

h2 {
    font-weight: 600;
    font-size: 1.7em;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
}

p {
    font-weight: 300;
    font-size: 1em;
}

.hr-header {
    margin-top: 0;
    border: .5px solid var(--ghost-gray);
    border-radius: 15px;
}

.content-frame {
    margin: 5% auto;
    padding: 5% auto;
    background-color: white;
}

.btn-primary{
    background-color: var(--clean-blue);
    border-color: var(--clean-blue);
    color: white;
}

.btn-primary:hover {
    background-color: var(--autumn-navy);
    border-color: var(--autumn-navy);
    color: white;
}

.btn-outline-primary {
    color: var(--clean-blue);
    border-color: var(--clean-blue);
}

.btn-outline-primary:hover {
    color: white;
    border-color: var(--clean-blue);
    background-color: var(--clean-blue);
}

.fas {  /*font-awesome solid icons*/
    color: var(--off-black);
}

.dropdown-toggle {  /*btn to open dropdown*/
    background-color: var(--clean-blue);
    border-color: var(--clean-blue);
    color: white;
}

.dropdown-toggle:hover {    /*btn to open dropdown*/
    background-color: var(--autumn-navy);
    border-color: var(--autumn-navy);
    color: white;
}

button#logo-redirect {
    background: Transparent no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

/*=============================================
                 FOOTER STYLES
=============================================*/

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 1%;
    background-color: #f8f9fa;
    color: var(--off-black);
}

#contact-us-link {
    color: var(--off-black);
}

#team-names {
    margin: 0;
    padding: .375rem .75rem;
    text-align: right;
}