/*=============================================
                DASHBOARD STYLES
=============================================*/
.hr-cards {
    background: var(--seafoam-cyan);
    border: 2.5px solid var(--seafoam-cyan);
    border-radius: 15px;
}


.card, .card-body, .card-text {
    background-color: var(--autumn-navy);
    color: white;
}

.fa-chevron-down {
    color: var(--seafoam-cyan);
}

.btn-chevron-down,.btn-chevron-down:hover {
    background-color: var(--autumn-navy);
    border-color: var(--autumn-navy);
    color: white;
}

#gateway-diagnostic {
    padding-bottom: 1%;
}

.btn-diagnostic {
    background-color: var(--clean-blue);
    border-color: var(--clean-blue);
    color: white;
}

.btn-diagnostic:hover {
    background-color: var(--autumn-navy);
    border-color: var(--autumn-navy);
    color: white;
}

.hr-gateway {
    align: center;
    margin-left: 10%;
    margin-right: 10%;
    border: .5px solid var(--ghost-gray);
    border-radius: 15px;
}