/*=============================================
         LOGIN AND REGISTER PAGE STYLES
=============================================*/
.hr-login-register {
    align: center;
    margin-left: 10%;
    margin-right: 10%;
    background: var(--clean-blue);
    border: 2.5px solid var(--clean-blue);
    border-radius: 15px;
}

.btn-login-register {
    background-color: var(--clean-blue);
    border-color: var(--clean-blue);
    color: white;
}

.btn-login-register:hover {
    background-color: var(--autumn-navy);
    border-color: var(--autumn-navy);
    color: white;
}

.container-login-register {
    text-align: center;
    width: 40%;
    padding: 2% 3%;
    /*margin: 2% auto;*/
}

.input-login-register {
    margin: 2% auto;
    width: 60%;
    text-align: center;
    color: var(--off-black);
}

.input-login-register::placeholder {
    color: var(--goose-gray);
}

#img-login-logo {
    max-width: 40%;
    height: auto;
    padding: 5%;
}

#img-register-logo {
    max-width: 30%;
    height: auto;
    padding: 5%;
}

#login-error-message, #register-error-message {
    font-family: 'Roboto', sans-serif;
    color: var(--clean-blue);
}

#register-success-message {
    font-family: 'Roboto', sans-serif;
    color: var(--seafoam-cyan);
}