/*=============================================
                 DATA-TABLE STYLES
=============================================*/
.table thead th {
    border-bottom: 1px solid var(--goose-gray)
}
.page-item.active .page-link {
    background-color: var(--clean-blue);
    border-color: var(--clean-blue);
}

.page-link {
    color: var(--clean-blue);
    border: 1px solid #d0cece;
}